<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="text-center my-auto">
            <p>&copy; 2025 Gerenciamento de Funcionários - Todos os direitos reservados.</p>
        
            <div>
                Desenvolvido por <a href="https://github.com/Alexsc33" target="_blank" style="color: rgb(0, 123, 255);">Ále Silva Costa</a>
            </div>
        
            <div>
                Suporte: <a href="https://www.ifbaiano.edu.br/unidades/guanambi/" target="_blank" style="color: #007bff;">IFbaiano</a>
            </div>
        </div>
    </div>
</footer>
<!-- End of Footer -->
